In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
# Load titanic dataset
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
# Print first 5 rows of the dataset
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
#we will use logistic regression for classifiction of sex gender 
dummies = pd.get_dummies(df['Sex'])
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
882       0     1
883       1     0
884       1     0
885       0     1
886       0     1

[887 rows x 2 columns]

In [4]:
dummies = dummies["male"]
dummies

0      1
1      0
2      0
3      0
4      1
      ..
882    1
883    0
884    0
885    1
886    1
Name: male, Length: 887, dtype: uint8

In [5]:
new_df = pd.concat([df,dummies],axis=1)
new_df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,male
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,1

In [6]:
new_df = new_df[["Pclass","Age","male","Survived"]]
new_df.head()
X = new_df[["Pclass","Age","male"]]
Y = new_df[["Survived"]]

In [7]:
x_train , x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2)

In [8]:
LR = LogisticRegression()
LR.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [10]:
#Quick evaluation
LR.score(x_test,y_test)

0.7696629213483146

In [11]:
#Prediction: 
y_pred = LR.predict(x_test)

In [12]:
#Evaluation:
d=0
for i in range(len(y_pred)):
  if y_test.iloc[i].tolist() == y_pred[i]:
    d = d+1
print("number of tested input: ",len(y_pred),  "Number of accurate predictions:  ",d)

number of tested input:  178 Number of accurate predictions:   137

# Mean Squared Error

In [39]:
#Logitic Regression algorithm from scratch 
X1 = X["Pclass"]
X2 = X["Age"]
X3 = X["male"]
Y = Y["Survived"].tolist()

In [40]:
import numpy as np

def sigmoid(x):
    return (1 / (1 + np.exp(-x))).tolist()

In [56]:
w1 = 0
w2 = 0 
w3 = 0 
b = 0 
L = 0.00001
epochs = 5000
for j in range(epochs): 
  w1_grad = 0 
  w2_grad = 0 
  w3_grad = 0 
  b_grad = 0
  for i in range(len(Y)):
    YL = w1*X1[i] + w2*X2[i] + w3*X3[i] + b
    w1_grad += -(2/len(Y)) * X1[i] * sigmoid(YL) * (1-sigmoid(YL)) * (Y[i]-sigmoid(YL))
    w2_grad += -(2/len(Y)) * X2[i] * sigmoid(YL) * (1-sigmoid(YL)) * (Y[i]-sigmoid(YL))
    w3_grad += -(2/len(Y)) * X3[i] * sigmoid(YL) * (1-sigmoid(YL)) * (Y[i]-sigmoid(YL))
    b_grad += -(2/len(Y)) * sigmoid(YL)*(1-sigmoid(YL)) * (Y[i]-sigmoid(YL))
  
  w1 = w1 - w1_grad * L
  w2 = w2 - w2_grad * L
  w3 = w3 - w3_grad * L
  b = b - b_grad * L
print("w1: ",w1,"w2: ",w2,"w3: ",w3,"b: ",b)

w1:  -0.005002127277125209 w2:  -0.0144146043985603 w3:  -0.0033682981293168286 b:  -0.0006167239086112371

In [57]:
import math 
d = 0
for i in range(len(Y)):
  if Y[i] == round(sigmoid(w1*X1[i] + w2*X2[i] + w3*X3[i] + b),0):
    d = d+1
print("number of samples: ",len(Y)," Number of correct predictions: ",d , "accuracy: ",d/len(Y)) 
#We can acheive 60% of accuracy and it's because the loss function is linear, So the solution is using the LOG LOSS function

number of samples:  887  Number of correct predictions:  545 accuracy:  0.6144306651634723

# LOG LOSS function

In [63]:
w1 = 0
w2 = 0 
w3 = 0 
b = 0 
L = 0.001
epochs = 50000
for j in range(epochs): 
  w1_grad = 0 
  w2_grad = 0 
  w3_grad = 0 
  b_grad = 0
  for i in range(len(Y)):
    YL = w1*X1[i] + w2*X2[i] + w3*X3[i] + b
    w1_grad += (1/len(Y)) * X1[i] * (sigmoid(YL) - Y[i])
    w2_grad += (1/len(Y)) * X2[i] * (sigmoid(YL) - Y[i])
    w3_grad += (1/len(Y)) * X3[i] * (sigmoid(YL) - Y[i])
    b_grad += (1/len(Y)) * (sigmoid(YL) - Y[i])
  
  w1 = w1 - w1_grad * L
  w2 = w2 - w2_grad * L
  w3 = w3 - w3_grad * L
  b = b - b_grad * L
print("w1: ",w1,"w2: ",w2,"w3: ",w3,"b: ",b)

w1:  -0.3993163577427924 w2:  0.004687350147461732 w3:  -1.933268628458708 b:  1.3611564883654323

In [64]:
import math 
d = 0
for i in range(len(Y)):
  if Y[i] == round(sigmoid(w1*X1[i] + w2*X2[i] + w3*X3[i] + b),0):
    d = d+1
print("number of samples: ",len(Y)," Number of correct predictions: ",d , "accuracy: ",d/len(Y))

number of samples:  887  Number of correct predictions:  697 accuracy:  0.7857948139797069

We can see that the LOG LOSS is more stable on training and it gives us more accurate predictions