In [111]:
!unzip /content/archive -d /content

Archive:  /content/archive.zip
  inflating: /content/tested.csv

In [112]:
import pandas as pd

In [114]:
df = pd.read_csv("/content/tested.csv")

In [115]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [116]:
#This instruction will return the number of null cases in each column 
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [123]:
#We will take data but it have no meaning, we need just to test the algorithm on independente numbers
df = df.dropna(subset=['Age',"Fare"])
X = df[["Pclass","Age","SibSp","Parch","Fare"]] 
Y = df[["Survived"]]
set(df.Survived)

{0, 1}

In [124]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          244
Embarked         0
dtype: int64

In [125]:
from sklearn.model_selection import train_test_split
X_train , X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2)

In [149]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=11)
KNN.fit(X_train,Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=11)

In [150]:
KNN.score(X_test,Y_test)

0.7014925373134329

In [153]:
i

0

In [ ]:
score_list = []
for i in range(100):  
  KNN = KNeighborsClassifier(n_neighbors=i+1)
  KNN.fit(X_train,Y_train)
  S = KNN.score(X_test,Y_test)
  score_list.append(S)

In [170]:
print("Maximum accuracy: ",max(score_list), "with K equal: ",score_list.index(max(score_list))+1)

Maximum accuracy:  0.7014925373134329 with K equal:  11